html{
	background-image: url(images/img6.jpg);
	background-attachment: fixed;
	-webkit-background-size:cover;
}


#zag1{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 40px;
	max-width: 1000px;
	color: white;
}

#img1{
	border-radius:12px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#text1{
	max-width: 988px;
	font-size: 24px;
	background-color: black;
	padding: 6px;
	color:#a9a5f9;
	border-radius:12px;
	margin-right: auto;
	margin-left: auto;
}

#ref1{
    color:white;
    text-decoration: none;
}

#ref1:hover{
	color:red;
	text-decoration: underline;
}

#sdvig{
	position: fixed;
	right: 5px;
	top: 5px;
}

#refs1,#refs2,#refs3{
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
    font-size: 22px;
    color: #689CD2;
}

#zag2{
	margin-right: auto;
	margin-left: auto;
	font-size: 30px;
	color:black;
	border:5px solid black;
	max-width: 250px;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: #AABFFF;
}

.block1{
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

.block11{
	display: inline-block;
	overflow: hidden;
}

.block2{
	margin-top: 8px;
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

.block3{
	margin-top: 8px;
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

.block4{
	margin-top: 8px;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

#footer1{
	font-size: 30px;
	margin-top: 16px;
	max-width: 986px;
	margin-right: auto;
	margin-left: auto;
	color:#a9a5f9;
	background-color: #1E0A5B;
	border-radius: 10px;
	padding: 7px;
}

#footer2{
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 180px;
	margin-right: auto;
	margin-left: auto;
	background-color: #8BA8FF;
	padding: 7px;
	border-radius: 10px;
}

body{
	width: 100%;
	max-width: 2000px;
}

.imgs:hover{
	transition: 0.8s;
	transform: scale(2);
	overflow-x: hidden;
}

.refs{
	font-size: 25px;
	color:black;
}

.refs:hover{
	color:white;
}

#refs1:hover,#refs2:hover,#refs3:hover{
	color:white;
}

#img2,#img3,#img4,#img5{
	height: 536px;
	float: left;
}

#text2,#text3,#text4,#text5{
	height: 516px;
	overflow-wrap: normal;
	font-family: Georgia;
	font-size: 20px;
	background-color: #8BA8FF;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	float: right;
	max-width: 480px;
	line-height: 25px;
}