html{
	background-image: url(images/img6.jpg);
	background-attachment: fixed;
	-webkit-background-size:cover;
}


#zag1{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 40px;
	max-width: 1000px;
	color: white;
}

#img1{
	border-radius:12px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#text1{
	max-width: 988px;
	font-size: 24px;
	background-color: black;
	padding: 6px;
	color:#a9a5f9;
	border-radius:12px;
	margin-right: auto;
	margin-left: auto;
}

#ref1{
    color:white;
    text-decoration: none;
}

#ref1:hover{
	color:red;
	text-decoration: underline;
}

#refs0,#refs1,#refs2{
    font-size: 22px;
    color: white;
}

#zag2{
	margin-right: auto;
	margin-left: auto;
	font-size: 35px;
	color:black;
	border:5px solid black;
	max-width: 150px;
	padding: 5px;
	border-radius: 10px;
	background-color: #AABFFF;
}

.block1{
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

#img2{
	height: 536px;
	float: left;
}

#text2{
	display: block;
	height: 516px;
	margin-top: 0px;
	float: right;
	max-width: 480px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-wrap: normal;
	font-family: Georgia;
	font-size: 20px;
	background-color: #8BA8FF;
	line-height: 32px;
}

.block2{
	margin-top: 8px;
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

#img3{
	height: 536px;
	float: left;
}

#text3{
	display: block;
	height: 516px;
	margin-top: 0px;
	float: right;
	max-width: 480px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-wrap: normal;
	font-family: Georgia;
	font-size: 20px;
	background-color: #8BA8FF;
	line-height: 34px;
}

.block3{
	margin-top: 8px;
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

#img4{
	height: 536px;
	float: left;
}

#text4{
	display: block;
	height: 516px;
	margin-top: 0px;
	float: right;
	max-width: 480px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-wrap: normal;
	font-family: Georgia;
	font-size: 20px;
	background-color: #8BA8FF;
	line-height: 30px;
}

.block4{
	margin-top: 8px;
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

#img5{
	height: 536px;
	float: left;
}

#text5{
	display: block;
	height: 516px;
	margin-top: 0px;
	float: right;
	max-width: 480px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-wrap: normal;
	font-family: Georgia;
	font-size: 20px;
	background-color: #8BA8FF;
	line-height: 30px;
}


#ref2,#ref3,#ref4,#ref5{
	font-size: 25px;
	color:black;
}

#ref2:hover,#ref3:hover,#ref4:hover,#ref5:hover{
	color:white;
}

#refs1:hover,#refs2:hover,#refs0:hover{
	color:black;
}

#footer1{
	font-size: 55px;
	margin-top: 16px;
	float:left;
	color:#a9a5f9;
	background-color: #1E0A5B;
	border-radius: 10px;
	padding: 7px;
	margin-right: 5px;
	margin-left: 5px;
}

#footer2{
	font-size: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	float: right;
	background-color: #8BA8FF;
	padding: 7px;
	border-radius: 10px;
}

body{
	width: 100%;
	max-width: 2000px;
}