html{
	background-image: url(images/img6.jpg);
	background-attachment: fixed;
	-webkit-background-size:cover;
}


#zag1{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 40px;
	max-width: 1000px;
	color: white;
}

#img1{
	border-radius:12px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#text1{
	max-width: 988px;
	font-size: 24px;
	background-color: black;
	padding: 6px;
	color:#a9a5f9;
	border-radius:12px;
	margin-right: auto;
	margin-left: auto;
}

#ref1{
    color:white;
    text-decoration: none;
}

#ref1:hover{
	color:red;
	text-decoration: underline;
}

.zag2{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	font-size: 30px;
	color:black;
	border:5px solid black;
	max-width: 250px;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: #AABFFF;
}

.block1{
	position: relative;
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

.block11{
	z-index: 1;
	display: inline-block;
	overflow: hidden;
}

.block2{
	position: relative;
	margin-top: 8px;
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

.block3{
	position: relative;
	margin-top: 8px;
	display: block;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

.block4{
	position: relative;
	margin-top: 8px;
	width: 986px;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	border:7px solid white;
	border-radius: 8px;
}

#footer1{
	font-size: 25px;
	background-color: #8BA8FF;
	box-sizing: border-box;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 8px;
	border-radius: 10px;
	text-align: center;
}

body{
	width: 100%;
	max-width: 2000px;
}

.imgs:hover{
	transition: 0.8s;
	transform: scale(2);
	overflow-x: hidden;
}

.refs{
	font-size: 25px;
	color:black;
}

.refs:hover{
	color:white;
}

#refs1:hover,#refs2:hover,#refs3:hover{
	color:white;
}

#img2,#img3,#img4,#img5{
	height: 536px;
	float: left;
}

.text2,.text3,.text4,.text5{
	height: 516px;
	overflow-wrap: normal;
	font-family: Georgia;
	font-size: 20px;
	background-color: #8BA8FF;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	float: right;
	max-width: 480px;
	line-height: 25px;
}

thead{
	text-align: center;
	margin-bottom: 5px;
}

table{
	width:1000px;
	height: 1000px;
	border-radius: 10px;
}

table,th,td{
	border:1px solid black;
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

th{
	font-size: 30px;
	color:white;
	background-color: #298ed6; 
}

td{
	background-color: #8BA8FF;
	font-size: 22px;
	text-align: center;
	padding: 0px;
}

h2{
	max-width: 996px;
	margin-left: auto;
	margin-right: auto;
	font-size: 35px;
	color:white;
	background-color: black;
	border: 2px solid white;
	border-radius: 10px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cvet{
	height:34px;
	background-color: white;
	padding-top: 8px;
}

tr:first-child th:first-child{
	border-top-left-radius: 10px;
}

tr:first-child th:last-child{
	border-top-right-radius: 10px;
}

tr:last-child td:first-child{
	border-bottom-left-radius: 10px;
}

tr:last-child td:last-child{
	border-bottom-right-radius: 10px;
}

.soder{
	font-family: Georgia;
	font-size: 25px;
	line-height: 45px;
	box-sizing: border-box;
	padding: 3px;
	color:blue;	
}

ul{
	border-radius: 10px;
	list-style-type: square;
	background-color: #8BA8FF;
	box-sizing: border-box;
    max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.tic{
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	background-color: #8BA8FF;
	padding: 7px;
	border-radius: 10px;
	text-align: center;
}

#button11,#button12,#button21,#button22,#button31,#button32,#button41,#button42{
	position: absolute;
	cursor: pointer;
	background-color:#4566FF;
	border: none;
	padding: 5px;
}

#button11,#button21,#button31,#button41{
	bottom: 10px;
	right: 10px;
}

#button12,#button22,#button32,#button42{
	bottom: 10px;
	right: 60px;
}

#button11:hover,#button21:hover,#button31:hover,#button41:hover{
	background-color: white;
}

#button12:hover,#button22:hover,#button32:hover,#button42:hover{
	background-color: #8BA8FF;
}

#sdvig{
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 2;
}

#refs1,#refs2,#refs3{
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
    font-size: 22px;
    color: #689CD2;
}

#mer,#ven,#mar,#jup,#sat,#ura,#nep{
	padding: 5px;
}