@media (min-width:0px) and (orientation: portrait){
    /*--------------INDEX.HTML--------------*/
    #navigation{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        background-color: white;
    }
    .navButtons:nth-child(1){
        padding: 0vw 6.5vw;
        border:none;
        background-color: white;
    }
    .navButtons:nth-child(2){
        padding: 0vw 5.5vw;
        border:none ;
        background-color: white;
    }
    .navButtons:nth-child(3){
        padding: 0vw 5.5vw;
        border:none;
        background-color: white;
    }
    .navRef{
        font-size: 7vw;
        border: none;
        margin-left: 0;
        background-color: white;
        text-decoration: none;
        color: black;
    }
    .navRef:active{
        color: blue;
    }
    #text1_1{
        font-size: 4vw;
        text-align: center;
        padding-top: 3vw;
        margin-bottom: 7vw;
        background-color: white;
        padding-bottom: 2vw;
    }
    #chCl,#chCl1,#chCl2,#chCl3{
        width: 55vw;
        height: 38vw;
    }
    .card.border-dark.text-bg-secondary.mb-3{
        width: 40vw;
        height: 38vw;
    }
    #cardExample2{
        background-image: url('images/primer1.png');
        background-size: cover;
        border-radius: 1vw;
    }
    #cardExample3{
        background-image: url('images/primer2.jpg');
        background-size: cover;
        border-radius: 1vw;
    }
    #text1_2,#text1_3{
        font-size: 3.5vw;
        margin-left: 1vw;
    }
    #text1_4,#text1_5{
        font-size: 3.5vw;
        margin-left: 1vw;
    }
    .d-flex.justify-content-center{
        margin-bottom: 2vh;
    }
    #exampleWord,#exampleWord1{
        font-size: 8vw;
        padding-top: 7vw;
    }
    #examplePhrase,#examplePhrase1{
        margin-top: 5vw;
        font-size: 3.5vw;
    }
    #examplePhrase2,#examplePhrase3{
        font-size: 5vw;
        padding-top: 7vw;
    }
    /*--------------WORDS.HTML--------------*/
    .dropdown{
        max-width: 30vw;
        float: left;
    }
    .btn.btn-secondary.dropdown-toggle{
        font-size: 2.6vw;
    }
    .description{
        padding-top: 8vw;
        text-align: center;
        font-size: 3.5vw;
    }
    #add{
        display: block;
        margin-top: 20vw;
        width: 40vw;
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }
    #maker1,#maker2,#maker3,#maker4{
        font-size: 2.5vw;
    }
    #l1{
        font-size:2vw;
        padding-left:1.5vw
    }
    #l2{
        font-size:2vw;
        padding-left:3vw
    }
    #l3{
        font-size:2vw;
        padding-left:0.5vw
    }
    #l4{
        font-size:2vw;
        padding-left:3vw
    }
    #notVisible{
        max-width: 96vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card.border-dark.text-dark.bg-light.mb-3.mid,.card.border-dark.text-bg-dark.mb-3.mid{
        width: 90vw;
        height: 55vw;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5vw;
    }
    .card-title.text-center.mid{
        font-size: 12vw;
        padding-top: 10vw;
    }
    .card-text.text-center.mid{
        font-size: 5vw;
        padding-top: 7vw;
    }
    .cardNoWords{
        font-size: 8vw;
        padding-top: 9vw;
        text-align: center;
    }
    .btn.btn-success.small{
        color:white;
        height:5vw;
        width:7vw;
        font-size:2vw;
        position:absolute;
        bottom:1.5vw;
        right:1.5vw;
        border-radius:0.8vw;
    }
    .btn.btn-success.mid{
        color:white;
        height:7vw;
        width:10vw;
        font-size:3vw;
        position:absolute;
        bottom:2.2vw;
        right:2.2vw;
        border-radius:1vw;
    }
    .btn.btn-success.big{
        color:white;
        height:9vw;
        width:13vw;
        font-size:4vw;
        position:absolute;
        bottom:3.3vw;
        right:3.3vw;
        border-radius:1.2vw;
    }
    /*--------------TEST.HTML--------------*/
    #start{
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
        margin-top: 40vh;
        margin-bottom: 30vh;
    }
    #finish{
        display: none;
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
        margin-top: 40vh;
        margin-bottom: 30vh;
    }
    .card.border-dark.text-dark.bg-light.mb-3.help{
        max-width: 80vw;
        width: 80vw;
        height: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card-title.text-center.help{
        font-size: 10vw;
        padding-top: 10vw;
    }
    #checking{
        max-width: 60vw;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    #fin{
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 5vw;
        padding-bottom: 100vh;
    }
    #reff1,#reff2{
        border: 0.5vw solid black;
        border-radius: 2vw;
        padding: 1vw;
        background-color: white;
        text-align: center;
        margin-top: 10vw;
    }
    #exampleButton{
        position: absolute;
        right: 3vw;
        bottom: 3vw;
        width: 8vw;
        height: 5vw;
        background-color: green;
        color:white;
        border-radius: 0.5vw;
        border: none;
        font-size: 3vw;
    }
    .previous{
        position: absolute;
        left: 0;
        top: 21vw;
        font-size: 8vw;
        border-left: none;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .next{
        position: absolute;
        right: 0;
        top: 21vw;
        font-size: 8vw;
        border-right: none;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
    }
    #container{
        margin-top: 20vh;
    }
    .fonn{
        height: 100vh;
    }
}

@media (min-width:200px) and (orientation: landscape){
    /*--------------INDEX.HTML--------------*/
    .nav-link,.nav-link.active{
        font-size: 1.5vw;
    }
    #text1_1{
        font-size: 2.5vw;
        text-align: center;
        padding-top: 3vw;
        margin-bottom: 4vw;
    }
    #chCl,#chCl1,#chCl2,#chCl3{
        width: 33vw;
        height: 25vw;
    }
    .card.border-dark.text-bg-secondary.mb-3{
        width: 20vw;
        height: 25vw;
    }
    #text1_2,#text1_3{
        font-size: 2vw;
        margin-left: 0.5vw;
    }
    #text1_4,#text1_5{
        font-size: 2vw;
        margin-left: 0.9vw;
    }
    .d-flex.justify-content-center{
        margin-bottom: 5vh;
    }
    #exampleWord,#exampleWord1{
        font-size: 4.8vw;
        padding-top: 5vw;
    }
    #examplePhrase,#examplePhrase1{
        margin-top: 5vw;
        font-size: 1.6vw;
    }
    #examplePhrase2,#examplePhrase3{
        font-size: 3vw;
        padding-top: 6vw;
    }
    /*--------------WORDS.HTML--------------*/
    .dropdown{
        max-width: 30vw;
        float: right;
    }
    .btn.btn-secondary.dropdown-toggle{
        font-size: 1.1vw;
    }
    .description{
        padding-top: 4vw;
        text-align: center;
        font-size: 2vw;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    #add{
        width: 40vw;
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }
    #maker1,#maker2,#maker3,#maker4{
        font-size: 0.8vw;
    }
    #l1{
        font-size:0.8vw;
        padding-left:0.3vw
    }
    #l2{
        font-size:0.8vw;
        padding-left:0.3vw
    }
    #l3{
        font-size:0.8vw;
        padding-left:0.3vw
    }
    #l4{
        font-size:0.8vw;
        padding-left:0.3vw
    }
    #notVisible{
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card.border-dark.text-dark.bg-light.mb-3.mid,.card.border-dark.text-bg-dark.mb-3.mid{
        width: 36vw;
        height: 25vw;
        max-width: 75vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.7vw;
    }
    .card-title.text-center.mid{
        font-size: 5vw;
        padding-top: 4vw;
    }
    .card-text.text-center.mid{
        font-size: 2vw;
        padding-top: 3vw;
    }
    .btn.btn-success.mid{
        color:white;
        height:3.5vw;
        width:5vw;
        font-size:1.5vw;
        position:absolute;
        bottom:1.1vw;
        right:1.1vw;
        border-radius:0.5vw;
    }
    /*--------------TEST.HTML--------------*/
    #start{
        max-width: 30vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 2vw;
        margin-top: 2vw;
    }
    #finish{
        max-width: 25vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 2vw;
        margin-bottom: 4vw;
    }
    .card.border-dark.text-dark.bg-light.mb-3.help{
        max-width: 40vw;
        width: 40vw;
        height: 25vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card-title.text-center.help{
        font-size: 5vw;
        padding-top: 5vw;
    }
    #checking{
        max-width: 30vw;
        margin-left: auto;
        margin-right: auto;
    }
    #fin{
        max-width: 50vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
    }
    #reff1,#reff2{
        box-sizing: border-box;
        border: 0.2vw solid black;
        border-radius: 0.5vw;
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
        padding: 1vw;
        background-color: white;
        text-align: center;
        margin-top: 10vw;
        font-size: 2vw;
    }
    #exampleButton{
        position: absolute;
        right: 2vw;
        bottom: 2vw;
        width: 6vw;
        height: 4vw;
        background-color: green;
        color:white;
        border-radius: 0.5vw;
        border: none;
        font-size: 2vw;
    }
    .previous{
        position: absolute;
        left: 0;
        top: 10vw;
        font-size: 4vw;
        border-left: none;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .next{
        position: absolute;
        right: 0;
        top: 10vw;
        font-size: 4vw;
        border-right: none;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
    }
    .fonn{
        height: 100vh;
    }
    #container{
        margin-top: 7vw;
    }
}

@media (min-width:1800px) and (orientation: landscape){
    /*--------------INDEX.HTML--------------*/
    .nav-link,.nav-link.active{
        font-size: 1.5vw;
    }
    #text1_1{
        font-size: 2.2vw;
        text-align: center;
        padding-top: 3vw;
        margin-bottom: 4vw;
    }
    #chCl,#chCl1,#chCl2,#chCl3{
        width: 28vw;
        height: 20vw;
    }
    .card.border-dark.text-bg-secondary.mb-3{
        width: 16vw;
        height: 20vw;
    }
    #text1_2,#text1_3{
        font-size: 1.6vw;
        margin-left: 0.5vw;
    }
    #text1_4,#text1_5{
        font-size: 1.6vw;
        margin-left: 0.5vw;
    }
    .d-flex.justify-content-center{
        margin-bottom: 5vh;
    }
    #exampleWord,#exampleWord1{
        font-size: 4.8vw;
        padding-top: 3.5vw;
    }
    #examplePhrase,#examplePhrase1{
        margin-top: 3.5vw;
        font-size: 1.6vw;
    }
    #examplePhrase2,#examplePhrase3{
        font-size: 2.5vw;
        padding-top: 4.5vw;
    }
    /*--------------WORDS.HTML--------------*/
    .dropdown{
        max-width: 30vw;
    }
    .btn.btn-secondary.dropdown-toggle{
        font-size: 1vw;
    }
    .description{
        padding-top: 4vw;
        text-align: center;
        font-size: 2vw;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    #add{
        width: 40vw;
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }
    #maker1,#maker2,#maker3,#maker4{
        font-size: 1vw;
    }
    #l1{
        font-size:0.8vw;
        padding-left:0.3vw
    }
    #l2{
        font-size:0.8vw;
        padding-left:0.3vw
    }
    #l3{
        font-size:0.8vw;
        padding-left:0.3vw
    }
    #l4{
        font-size:0.8vw;
        padding-left:0.3vw
    }
    #notVisible{
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card.border-dark.text-dark.bg-light.mb-3.mid,.card.border-dark.text-bg-dark.mb-3.mid{
        width: 36vw;
        height: 25vw;
        max-width: 75vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.7vw;
        display: none;
    }
    .card-title.text-center.mid{
        font-size: 5vw;
        padding-top: 4vw;
    }
    .card-text.text-center.mid{
        font-size: 2vw;
        padding-top: 3vw;
    }
    .btn.btn-success.mid{
        color:white;
        height:3.5vw;
        width:5vw;
        font-size:1.5vw;
        position:absolute;
        bottom:1.1vw;
        right:1.1vw;
        border-radius:0.5vw;
    }
    /*--------------TEST.HTML--------------*/
    #start{
        max-width: 30vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 2vw;
        margin-top: 2vw;
    }
    #finish{
        max-width: 25vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 2vw;
        margin-bottom: 4vw;
    }
    .card.border-dark.text-dark.bg-light.mb-3.help{
        max-width: 40vw;
        width: 40vw;
        height: 25vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card-title.text-center.help{
        font-size: 5vw;
        padding-top: 5vw;
    }
    #checking{
        max-width: 30vw;
        margin-left: auto;
        margin-right: auto;
    }
    #fin{
        max-width: 50vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
    }
    #reff1,#reff2{
        box-sizing: border-box;
        border: 0.2vw solid black;
        border-radius: 0.5vw;
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
        padding: 1vw;
        background-color: white;
        text-align: center;
        margin-top: 10vw;
        font-size: 2vw;
    }
    #exampleButton{
        position: absolute;
        right: 1.5vw;
        bottom: 1.5vw;
        width: 5vw;
        height: 3.5vw;
        background-color: green;
        color:white;
        border-radius: 0.5vw;
        border: none;
        font-size: 2.4vw;
    }
    .previous{
        position: absolute;
        left: 0;
        top: 10vw;
        font-size: 4vw;
        border-left: none;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .next{
        position: absolute;
        right: 0;
        top: 10vw;
        font-size: 4vw;
        border-right: none;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
    }
    .fonn{
        height: 100vh;
    }
    #container{
        margin-top: 5vw;
    }
}


/*General common settings*/
.try{
        text-decoration: none;
    }
