@media (min-width:0px) and (orientation: portrait){
    /*--------------INDEX.HTML--------------*/
    .firstDescription{
        font-size: 5vw;
        text-wrap: wrap;
        margin-bottom: 8vw;
        background-color: #199bf7;
        text-align: center;
        color: white;
        padding-bottom: 2vw;
    }
    #navigation{
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        width: 100vw;
        background-image: linear-gradient(white,#CCCCCC);
    }
    .navButtons{
        box-sizing: border-box;
        font-size: 7vw;
        border: none;
        background-color: transparent;
        text-decoration: none;
        color: black;
    }
    .navButtons:active{
        color: blue;
    }
    #chCl,#chCl1,#chCl2,#chCl3{
        width: 55vw;
        height: 38vw;
    }
    .card.border-dark.text-bg-secondary.mb-3{
        width: 40vw;
        height: 38vw;
    }
    #cardExample2{
        background-image: url('images/primer1.png');
        background-size: cover;
        border-radius: 1vw;
    }
    #cardExample3{
        background-image: url('images/primer2.jpg');
        background-size: cover;
        border-radius: 1vw;
    }
    #text1_2,#text1_3{
        font-size: 3.5vw;
        margin-left: 1vw;
    }
    #text1_4,#text1_5{
        font-size: 3.5vw;
        margin-left: 1vw;
    }
    .d-flex.justify-content-center{
        margin-bottom: 2vh;
    }
    #exampleWord,#exampleWord1{
        font-size: 8vw;
        padding-top: 7vw;
    }
    #examplePhrase,#examplePhrase1{
        margin-top: 5vw;
        font-size: 3.5vw;
    }
    #examplePhrase2,#examplePhrase3{
        font-size: 5vw;
        padding-top: 7vw;
    }
    /*--------------WORDS.HTML--------------*/
    .dropdown{
        max-width: 30vw;
        float: left;
    }
    .btn.btn-secondary.dropdown-toggle{
        font-size: 2.6vw;
        display: block;
    }
    .description{
        padding-top: 8vw;
        text-align: center;
        font-size: 3.5vw;
    }
    #add{
        padding-top: 8vh;
        display: block;
        width: 40vw;
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 14vh;
    }
    #notVisible{
        display: none;
        margin-bottom: 4vh;
        padding-top: 6vh;
    }
    .input-group.makers{
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card.border-dark.text-dark.bg-light.mb-3.mid,.card.border-dark.text-bg-dark.mb-3.mid{
        width: 90vw;
        height: 60vw;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5vw;
    }
    .card-title.text-center.mid{
        font-size: 12vw;
        padding-top: 10vw;
    }
    .card-text.text-center.mid{
        font-size: 5vw;
        padding-top: 7vw;
    }
    .cardNoWords{
        font-size: 8vw;
        padding-top: 9vw;
        text-align: center;
    }
    .btn.btn-success.small{
        color:white;
        height:5vw;
        width:7vw;
        font-size:2vw;
        position:absolute;
        bottom:1.5vw;
        right:1.5vw;
        border-radius:0.8vw;
    }
    .btn.btn-success.mid{
        color:white;
        height:7vw;
        width:10vw;
        font-size:3vw;
        position:absolute;
        bottom:2.2vw;
        right:2.2vw;
        border-radius:1vw;
    }
    .btn.btn-success.big{
        color:white;
        height:9vw;
        width:13vw;
        font-size:4vw;
        position:absolute;
        bottom:3.3vw;
        right:3.3vw;
        border-radius:1.2vw;
    }
    /*--------------TEST.HTML--------------*/
    #start{
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 5vw;
    }
    #finish{
        display: none;
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
        margin-top: 4vh;
    }
    #listTest{
        margin-top: 0vh;
    }
    .card.border-dark.text-dark.bg-light.mb-3.help{
        max-width: 80vw;
        width: 80vw;
        height: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card-title.text-center.help{
        font-size: 12vw;
        padding-top: 18vw;
    }
    #checking{
        max-width: 60vw;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    #fin{
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 5vw;
        padding-top: 25vh;
    }
    #reff1,#reff2{
        border: 0.5vw solid black;
        border-radius: 2vw;
        padding: 1vw;
        background-color: white;
        text-align: center;
        margin-top: 10vw;
    }
    #exampleButton{
        position: absolute;
        right: 3vw;
        bottom: 3vw;
        width: 8vw;
        height: 5vw;
        background-color: green;
        color:white;
        border-radius: 0.5vw;
        border: none;
        font-size: 3vw;
    }
    .previous{
        position: absolute;
        left: 0;
        top: 21vw;
        font-size: 8vw;
        border: 0.5vw solid black;
        border-left: none;
        border-top-right-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }
    .next{
        position: absolute;
        right: 0;
        top: 21vw;
        font-size: 8vw;
        border: 0.5vw solid black;
        border-right: none;
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
    }
    .firstOption{
        display: none;
    }
    .secondOption{
        display: inline;
    }
    .fonn{
        height: 100vh;
    }
    .btn-group.btn-group-lg{
        width: 100vw;
        position: fixed;
        bottom: 0;
    }
    .btn.btn-primary.help{
        background-color: #64bbfa;
        border: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}




/*General common settings*/
.try{
        text-decoration: none;
    }
