@media (min-width:0px) and (orientation: portrait){
    /*--------------INDEX.HTML--------------*/
    #navigation{
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        width: 100svw;
        background-image: linear-gradient(white,#CCCCCC);
    }
    .navButtons{
        box-sizing: border-box;
        font-size: 7svw;
        border: none;
        background-color: transparent;
        text-decoration: none;
        color: black;
    }
    .navButtons:active{
        color: blue;
    }
    #chCl,#chCl1,#chCl2,#chCl3{
        width: 55svw;
        height: 38svw;
    }
    .card.border-dark.text-bg-secondary.mb-3{
        width: 40svw;
        height: 38svw;
    }
    #cardExample2{
        background-image: url('images/primer1.png');
        background-size: cover;
        border-radius: 1svw;
    }
    #cardExample3{
        background-image: url('images/primer2.jpg');
        background-size: cover;
        border-radius: 1svw;
    }
    #text1_2,#text1_3{
        font-size: 3.5svw;
        margin-left: 1svw;
    }
    #text1_4,#text1_5{
        font-size: 3.5svw;
        margin-left: 1svw;
    }
    .d-flex.justify-content-center{
        margin-bottom: 2svh;
    }
    #exampleWord,#exampleWord1{
        font-size: 8svw;
        padding-top: 7svw;
    }
    #examplePhrase,#examplePhrase1{
        margin-top: 5svw;
        font-size: 3.5svw;
    }
    #examplePhrase2,#examplePhrase3{
        font-size: 5svw;
        padding-top: 7svw;
    }
    /*--------------WORDS.HTML--------------*/
    .dropdown{
        max-width: 30svw;
        float: left;
    }
    .btn.btn-secondary.dropdown-toggle{
        font-size: 2.6svw;
        display: block;
    }
    .description{
        padding-top: 8svw;
        text-align: center;
        font-size: 3.5svw;
    }
    #add{
        display: block;
        width: 40svw;
        max-width: 40svw;
        margin-left: auto;
        margin-right: auto;
    }
    #maker1,#maker2,#maker3,#maker4{
        font-size: 2.5svw;
    }
    #l1{
        font-size:2svw;
        padding-left:1.5svw
    }
    #l2{
        font-size:2svw;
        padding-left:3svw
    }
    #l3{
        font-size:2svw;
        padding-left:0.5svw
    }
    #l4{
        font-size:2svw;
        padding-left:3svw
    }
    #notVisible{
        max-width: 96svw;
        margin-left: auto;
        margin-right: auto;
    }
    .card.border-dark.text-dark.bg-light.mb-3.mid,.card.border-dark.text-bg-dark.mb-3.mid{
        width: 90svw;
        height: 60svw;
        max-width: 90svw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5svw;
    }
    .card-title.text-center.mid{
        font-size: 12svw;
        padding-top: 10svw;
    }
    .card-text.text-center.mid{
        font-size: 5svw;
        padding-top: 7svw;
    }
    .cardNoWords{
        font-size: 8svw;
        padding-top: 9svw;
        text-align: center;
    }
    .btn.btn-success.small{
        color:white;
        height:5svw;
        width:7svw;
        font-size:2svw;
        position:absolute;
        bottom:1.5svw;
        right:1.5svw;
        border-radius:0.8svw;
    }
    .btn.btn-success.mid{
        color:white;
        height:7svw;
        width:10svw;
        font-size:3svw;
        position:absolute;
        bottom:2.2svw;
        right:2.2svw;
        border-radius:1svw;
    }
    .btn.btn-success.big{
        color:white;
        height:9svw;
        width:13svw;
        font-size:4svw;
        position:absolute;
        bottom:3.3svw;
        right:3.3svw;
        border-radius:1.2svw;
    }
    /*--------------TEST.HTML--------------*/
    #start{
        max-width: 60svw;
        margin-left: auto;
        margin-right: auto;
        font-size: 5svw;
    }
    #finish{
        display: none;
        max-width: 40svw;
        margin-left: auto;
        margin-right: auto;
        font-size: 3svw;
        margin-top: 4svh;
    }
    #listTest{
        margin-top: 0svh;
    }
    .card.border-dark.text-dark.bg-light.mb-3.help{
        max-width: 80svw;
        width: 80svw;
        height: 60svw;
        margin-left: auto;
        margin-right: auto;
    }
    .card-title.text-center.help{
        font-size: 12svw;
        padding-top: 18svw;
    }
    #checking{
        max-width: 60svw;
        width: 60svw;
        margin-left: auto;
        margin-right: auto;
    }
    #fin{
        max-width: 80svw;
        margin-left: auto;
        margin-right: auto;
        font-size: 5svw;
        padding-top: 25svh;
    }
    #reff1,#reff2{
        border: 0.5svw solid black;
        border-radius: 2svw;
        padding: 1svw;
        background-color: white;
        text-align: center;
        margin-top: 10svw;
    }
    #exampleButton{
        position: absolute;
        right: 3svw;
        bottom: 3svw;
        width: 8svw;
        height: 5svw;
        background-color: green;
        color:white;
        border-radius: 0.5svw;
        border: none;
        font-size: 3svw;
    }
    .previous{
        position: absolute;
        left: 0;
        top: 21svw;
        font-size: 8svw;
        border: 0.5svw solid black;
        border-left: none;
        border-top-right-radius: 2svw;
        border-bottom-right-radius: 2svw;
    }
    .next{
        position: absolute;
        right: 0;
        top: 21svw;
        font-size: 8svw;
        border: 0.5svw solid black;
        border-right: none;
        border-top-left-radius: 2svw;
        border-bottom-left-radius: 2svw;
    }
    .firstOption{
        display: none;
    }
    .secondOption{
        display: inline;
    }
    #container{
        margin-top: 14svh;
    }
    .fonn{
        height: 100svh;
    }
    .btn-group.btn-group-lg{
        width: 100svw;
        position: fixed;
        bottom: 0;
    }
    .btn.btn-primary.help{
        background-color: #64bbfa;
        border: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .badge{
        font-size: 5svw;
        text-wrap: wrap;
        margin-bottom: 8svw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #199bf7;
    }
}




/*General common settings*/
.try{
        text-decoration: none;
    }
